<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ animal['name'] }} Information</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>{{ animal['name'] }} - {{ animal['characteristics']['common_name'] }}</h1>

        <h2>Taxonomy</h2>
        <ul>
            <li><strong>Kingdom:</strong> {{ animal['taxonomy']['kingdom'] }}</li>
            <li><strong>Phylum:</strong> {{ animal['taxonomy']['phylum'] }}</li>
            <li><strong>Class:</strong> {{ animal['taxonomy']['class'] }}</li>
            <li><strong>Order:</strong> {{ animal['taxonomy']['order'] }}</li>
            <li><strong>Family:</strong> {{ animal['taxonomy']['family'] }}</li>
            <li><strong>Genus:</strong> {{ animal['taxonomy']['genus'] }}</li>
            <li><strong>Scientific Name:</strong> {{ animal['taxonomy']['scientific_name'] }}</li>
        </ul>

        <h2>Locations</h2>
        <ul>
            {% for location in animal['locations'] %}
            <li>{{ location }}</li>
            {% endfor %}
        </ul>

        <h2>Characteristics</h2>
        <ul>
            <li><strong>Prey:</strong> {{ animal['characteristics']['prey'] }}</li>
            <li><strong>Name of Young:</strong> {{ animal['characteristics']['name_of_young'] }}</li>
            <li><strong>Group Behavior:</strong> {{ animal['characteristics']['group_behavior'] }}</li>
            <li><strong>Estimated Population Size:</strong> {{ animal['characteristics']['estimated_population_size'] }}</li>
            <li><strong>Biggest Threat:</strong> {{ animal['characteristics']['biggest_threat'] }}</li>
            <li><strong>Most Distinctive Feature:</strong> {{ animal['characteristics']['most_distinctive_feature'] }}</li>
            <li><strong>Gestation Period:</strong> {{ animal['characteristics']['gestation_period'] }}</li>
            <li><strong>Habitat:</strong> {{ animal['characteristics']['habitat'] }}</li>
            <li><strong>Diet:</strong> {{ animal['characteristics']['diet'] }}</li>
            <li><strong>Average Litter Size:</strong> {{ animal['characteristics']['average_litter_size'] }}</li>
            <li><strong>Lifestyle:</strong> {{ animal['characteristics']['lifestyle'] }}</li>
            <li><strong>Common Name:</strong> {{ animal['characteristics']['common_name'] }}</li>
            <li><strong>Number of Species:</strong> {{ animal['characteristics']['number_of_species'] }}</li>
            <li><strong>Location:</strong> {{ animal['characteristics']['location'] }}</li>
            <li><strong>Slogan:</strong> {{ animal['characteristics']['slogan'] }}</li>
            <li><strong>Color:</strong> {{ animal['characteristics']['color'] }}</li>
            <li><strong>Skin Type:</strong> {{ animal['characteristics']['skin_type'] }}</li>
            <li><strong>Top Speed:</strong> {{ animal['characteristics']['top_speed'] }}</li>
            <li><strong>Lifespan:</strong> {{ animal['characteristics']['lifespan'] }}</li>
            <li><strong>Weight:</strong> {{ animal['characteristics']['weight'] }}</li>
            <li><strong>Height:</strong> {{ animal['characteristics']['height'] }}</li>
            <li><strong>Age of Sexual Maturity:</strong> {{ animal['characteristics']['age_of_sexual_maturity'] }}</li>
            <li><strong>Age of Weaning:</strong> {{ animal['characteristics']['age_of_weaning'] }}</li>
        </ul>

        <a href="/">Search another animal</a>
    </div>
</body>
</html>
