<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ animal['name'] }} Information</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animal_list.css') }}">
</head>
<body>
    <div class="container">
        <h1>{{ animal['name'] }} - {{ animal['common_name'] }}</h1>

        <h2>Taxonomía</h2>
        <ul>
            <li><strong>Reino:</strong> {{ animal['taxonomy']['kingdom'] }}</li>
            <li><strong>Filo:</strong> {{ animal['taxonomy']['phylum'] }}</li>
            <li><strong>Clase:</strong> {{ animal['taxonomy']['class'] }}</li>
            <li><strong>Orden:</strong> {{ animal['taxonomy']['order'] }}</li>
            <li><strong>Familia:</strong> {{ animal['taxonomy']['family'] }}</li>
            <li><strong>Género:</strong> {{ animal['taxonomy']['genus'] }}</li>
            <li><strong>Nombre científico:</strong> {{ animal['taxonomy']['scientific_name'] }}</li>
        </ul>      
        <a href="{{ url_for('index') }}">
            <button class="btn-search">Ir al Buscador</button>
        </a>
    </div>
</body>
</html>
